{{> nav}}
<br />
{{> hatedChamps}}
<br />
{{> lovedChamps}}


<h2> Lista de campeones sugeridos!</h2>
{{#if listExist}}
<ul>
    {{#each suggestedChamps}}
    <li class={{this.lane}}> {{this.names}} </li>
    {{/each}}
</ul>


{{/if}}